.movie {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  border-radius: 8px;
  background: var(--bg-secundary);
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
  max-width: 200px;
}

.movie:hover {
  transform: translateY(-5px);
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}

.movie div:first-child {
  font-size: 0.875rem;
  color: var(--text-secundary);
}

.movie img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 4px;
}

.movie div:last-child {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.movie span {
  font-size: 0.75rem;
  color: var(--text-secundary);
  text-transform: uppercase;
}

.movie h3 {
  margin: 0;
  color: var(--text-primary);
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.3;
}
